html, body {
  width: 100%;
  height: 100%;
}

html script, body script {
  display: none;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App {
  height: 100vh;
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #8300fd;
}

.App .Navbar {
  background-color: #00fdfd;
  width: 100%;
  height: 50px;
}

.App .Navbar .item-navbar {
  height: 100%;
  border: black solid 1px;
}

.App .Container {
  background-color: #00fd76;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: auto;
}

.App .Container .scroll {
  height: auto;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.App .Container .scroll .Banner {
  width: 80%;
  height: 350px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(https://www.leparisien.fr/resizer/aYJPXWcJKkBkZBsXTLx3B2OAH60=/932x582/cloudfront-eu-central-1.images.arcpublishing.com/leparisien/DDCRQVRBMBCZLM7QIPRJECIUKE.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.App .Container .scroll .CardList {
  background-color: #8300fd;
  width: 80%;
  height: 100%;
}

.App .Container .scroll .CardList .scroll-2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.App .Container .scroll .CardList .scroll-2 .Bloc {
  background-color: #fd5000;
  width: 100%;
  height: 350px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid black 2px;
}

.App .Container .scroll .CardList .scroll-2 .Bloc .img-card {
  width: 260px;
}

.App .Container .scroll .CardList .scroll-2 .Bloc .text-card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.App .Container .scroll .CardList .scroll-2 .Bloc .text-card h2, .App .Container .scroll .CardList .scroll-2 .Bloc .text-card p {
  display: unset;
  text-align: center;
}

.App .footer {
  background-color: #fd0000;
  width: 100%;
  height: 50px;
}

@media screen and (min-width: 700px) {
  .App .Container .scroll {
    height: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .App .Container .scroll .Banner {
    min-height: 200px;
    height: 100%;
    background: url(https://www.leparisien.fr/resizer/aYJPXWcJKkBkZBsXTLx3B2OAH60=/932x582/cloudfront-eu-central-1.images.arcpublishing.com/leparisien/DDCRQVRBMBCZLM7QIPRJECIUKE.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 100%;
    background-position-y: 10%;
  }
  .App .Container .scroll .CardList {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    overflow-y: unset;
  }
  .App .Container .scroll .CardList .scroll-2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .App .Container .scroll .CardList .scroll-2 .Bloc {
    width: 49%;
    height: 400px;
  }
  .App .Container .scroll .CardList .scroll-2 .Bloc .img-card {
    width: 160px;
  }
  .App .Container .scroll .CardList .scroll-2 .Bloc .text-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (min-width: 1000px) {
  .App .Container {
    overflow: hidden;
  }
  .App .Container .scroll {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .App .Container .scroll .Banner {
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: url(https://www.leparisien.fr/resizer/aYJPXWcJKkBkZBsXTLx3B2OAH60=/932x582/cloudfront-eu-central-1.images.arcpublishing.com/leparisien/DDCRQVRBMBCZLM7QIPRJECIUKE.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
  }
  .App .Container .scroll .CardList {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    overflow-y: auto;
  }
  .App .Container .scroll .CardList .scroll-2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .App .Container .scroll .CardList .scroll-2 .Bloc {
    width: 100%;
    height: 250px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .App .Container .scroll .CardList .scroll-2 .Bloc .img-card {
    width: 250px;
  }
  .App .Container .scroll .CardList .scroll-2 .Bloc .text-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
/*# sourceMappingURL=App.css.map */